$primary-color: maroon;
$font-color: white;
$secondary-color:navy;
#main{
    // z-index: 1;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border: 1px solid gray;
    width: 50%;
    line-height: 60px;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    // display: flex;
    // flex-direction: column;
    // // width: 30%;
    // // align-self: center;
    // align-items: center;
    // margin-top: 10px;
    // // justify-items: center;
    #urlPanel{
        label{
            font-size: 120%;
        }
        input{
            position: relative;
            width: 100%;
            height: 30px;
            font-size: 120%;
        }
        button{
            width: 80px;
            height: 40px;
        }
    }
    #requisPanel{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        button{
            margin-left: 10px;
            width: 80px;
            height: 40px;
        }

    }
}
#mainDivs{
    margin: 30px;
}
#board{
    display: flex;
    flex-direction: row;
}
#urltBoard{
    overflow: hidden;
    margin-top: 3%;
    // margin-left: 36%;
    height: 500px;
    width: 45%;
    background-color: $secondary-color;
    // background-color: gray;
    border: 1px solid black;
    box-shadow: 4px 4px 10px grey;
    .urlDtl{
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 1px solid black;
        padding: 5px;
        .urlMethod{
            color: maroon;
            font-weight: bold;
            width: 10%;
            // margin-right: 10px;
        }
        .urlItem{
            color: white;
        }
    }
}
#urltBoard:hover{
    overflow: scroll;
}

#resultBoard{
    overflow: hidden;
    margin-top: 3%;
    height: 500px;
    width: 45%;
    background-color: $secondary-color;
    color: $font-color;
    // background-color: gray;
    border: 1px solid black;
    box-shadow: 4px 4px 10px grey;
    
}
#resultBoard:hover{
    overflow: scroll;
}

.urlDtl:hover{
    // background-color: red;
    background-color: #e6e6e6bb;
    cursor: pointer;
}

#bodyBoard{
    // margin: 30px;
        textarea{
            height: 400px;
            width: 60%;
            background-color: $secondary-color;
            color: $font-color;
            // background-color: gray;
        }
}